
<div class="row p-2">
    <p class="text-success fw-bold fs-6" >User Does Not Exist</p>

   
        <form>
            <div class="mb-3">
                <label class="form-label" for="id1">Name</label>
                <input class="form-control" type="text" name="Fname" id="id1" >
            </div>
            <div class="mb-3">
                <label class="form-label" for="id2">Email</label>
                <input class="form-control" type="email" name="fEmail" id="id2" >
            </div>
            <!-- <div class="mb-3">
                
                <input class="form-control" type="text" name="Fmobile" id="id3" >
            </div> -->
            <label class="form-label" for="id3">Mobile</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text cursor bg-primary " id="basic-addon2" (click)="getOtp()">Get Otp</span>
              </div>
              <label class="form-label" for="id3" *ngIf="DisplayOtpField">EnterOtp</label>
              <div class="input-group mb-3" *ngIf="DisplayOtpField">
                  <input type="text" class="form-control" id="basic-addon3">
                  <span class="input-group-text cursor bg-primary " id="basic-addon3" (click)="verifyOtp()">verifyOtp</span>
                </div>
                <p class="fs-6">OtpValid for <strong>{{otpTimer}}&nbsp;sec</strong></p>
           
            <div class="mb-3">
                <label class="form-label" for="id4">Password</label>
                <input class="form-control" type="password" name="fpassword" id="id4" >
            </div>
            <div class="mb-3">
                <label class="form-label" for="id5">Confirme Password</label>
                <input class="form-control" type="password" name="FconfirmPassword" id="id5" >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

   
</div>