<div class="row py-5 text-center bg-primary text-light mt-1">
   <div class="row">
    <h3 class="fw-300">Get huge saving on Medicines</h3>
    <div class="d-flex  justify-content-center bd-highlight">
        <div class="p-2"><span><i class="bi bi-check-circle"></i></span>100 % Genuine Medicines</div>
        <div class="p-2"><span><i class="bi bi-check-circle"></i></span>Trusted Pharmacies</div>
        <div class="p-2"><span><i class="bi bi-check-circle"></i></span>Delivery to your doorstep</div>
        <div class="p-2"><span><i class="bi bi-check-circle"></i></span>Store Pick up</div>
      </div>
   </div>
</div>
<!-- navbar -->
<div class=" container mt-3 p-2 border border-3 shadow"> <nav class="navbar navbar-light bg-light">
   <div class="container-fluid">
     <a class="navbar-brand">Pincode</a>
     <form class="d-flex" >
       <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="fsearch" [(ngModel)]="Pincode" >
       <button class="btn btn-outline-success" type="button" (click)="addPincode()">Search</button>&nbsp;
        <div>
           <label for="id1">City</label>
           <input type="text" id="id1" name="fcity"  [(ngModel)]="city" >
            
       </div>
     </form>
   </div>
 </nav>
 </div>

 <app-top-deal></app-top-deal>